html {
    position: relative;
}
body {
    margin-bottom: 250px;
}
/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex-bottom;
    justify-content: center;
    align-items: center;
} */
nav {
    position: fixed;
    top: 0;
    width: 100%;
}
#background {
    background: black;
    /* overflow: hidden; */
}
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px #000;
}
.overlay-text h1 {
    font-size: 8vw;
    margin-bottom: 0;
}
.jumbotron.jumbotron-sm {
    padding-top: 10px;
    padding-bottom: 10px;
}
.jumbotron h1.display-4 {
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-link.active {
    background-color: rgb(56, 63, 69);
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 100%;
    padding-left: 20px;
}

.nav-link.inactive {
    background-color: rgb(236, 236, 236);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 5px;
}

.nav-link.inactive:hover {
    background-color: rgb(214, 214, 214);
}

hr {
    border: none;
    border: 1px solid rgb(236, 236, 236);
    margin: 10px 0;
}

.content {
    font-size: 1.1rem;
}

.info {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #ccc;
    padding: 10px;
    margin-bottom: 0rem;
    font-size: 1.25rem;
    font-weight: 350;
    /* text-align: center; */
}

.badge {
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.3);
    width: 30px;
    height: 30px;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    color: #555;
    font-weight: bold;
  }

  .list-group-item {
    font-size: 1.25rem;
    font-weight: 500;
  }