html {
    position: relative;
}

body {
    /* margin-bottom: 250px; */
    overflow-x: hidden;
}

.navbar {
    margin: 17px;
    border-radius: 8px;
    background: rgba(56, 63, 69, 0.95) !important;
    backdrop-filter: blur(10px) !important;
    transition: background 0.2s ease;
    z-index: 9999;
}

.navbar:hover {
    background: rgba(56, 63, 69, 1) !important;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
}

.navbar .nav-link.dropdown-toggle {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.nav-link.active {
    background-color: rgb(56, 63, 69);
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 100%;
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.nav-link.inactive {
    background-color: rgba(247, 247, 247, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.nav-link.inactive:hover {
    background-color: rgb(235, 235, 235);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px #000;
}

.overlay-text h1 {
    font-size: 8vw;
    margin-bottom: 0;
}

.jumbotron.jumbotron-sm {
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron h1.display-4 {
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    border: none;
    border: 1px solid rgb(236, 236, 236);
    margin: 10px 0;
}

.content {
    font-size: 1.1rem;
}

.info {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #ccc;
    padding: 10px;
    margin-bottom: 0rem;
    font-size: 1.25rem;
    font-weight: 350;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
}

.warning {
    border: 1.5px solid rgba(0, 162, 255, 0.7);
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 162, 255, 0.5);
    padding: 10px;
    padding-left: 70px;
    margin-bottom: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    font-weight: 350;
    background-color: rgba(185, 229, 255, 0.7);
    backdrop-filter: blur(10px);
}

.warning::before {
    content: '\24D8'; /* Unicode character for a bullet point */
    font-size: 2.3rem;
    color: rgba(0, 162, 255, 0.7);
    position: absolute;
    left: 20px;
    top: 47%;
    transform: translateY(-50%);
}

.badge {
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.3);
    width: 30px;
    height: 30px;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    color: #555;
    font-weight: bold;
    z-index: 2;
}

.new-tag {
    position: absolute;
    top: -3.5%;
    left: -5%;
    width: 64px;
    height: 23px;
    display: flex;
    z-index: 2;
}

.list-group-item {
    font-size: 1.25rem;
    font-weight: 500;
    /* border-radius: 20px !important; */
    border-bottom-left-radius: 20px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); */
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
}

.news-group-item {
    font-size: 1.25rem;
    font-weight: 500;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.082));
    background-color: rgba(255, 255, 255, 0);
    padding: 3px;
    padding-right: 20px;
    border-bottom: 2px solid rgb(255, 148, 25);
}

.news-card {
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.news-container {
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgba(255, 255, 255, 0.616);
    border-right: 1px solid rgb(255, 148, 25);
    box-shadow: -3px 3px 8px 0px rgba(156, 156, 156, 0.2);
    backdrop-filter: blur(5px);
}

.news-badge {
    max-width: 100%;
    max-height: 46.5px;
}

.news-sub-title {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.349);
}

.news-info {
    position: relative;
    max-height: 0;
    overflow: hidden;
    padding-left: 10px;
    transition: max-height 0.1s linear;
}

.btn-learn-more {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: transparent;
    background-image: linear-gradient(to bottom right, rgb(255, 200, 137), rgb(226, 121, 0));
    padding-top: 2px;
    padding-bottom: 2px;
    color: rgb(255, 239, 222);
}

.btn-learn-more:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.news-card.expanded .news-info {
    max-height: 280px;
}

.news-info-title {
    padding: 10px;
    font-weight: 500;
}

.news-info-details {

}

.news-info-details ul {
    list-style: none; /* Remove default list styles */
    padding-left: 18px; /* Add some left padding for bullet points */
}
.news-info-details li {
    line-height: normal; /* Set line-height to normal */
}
.news-info-details li::before {
    content: "\2022"; /* Unicode character for a bullet point (•) */
    color: orange; /* Set the color to orange */
    display: inline-block;
    width: 0.6em;
    font-size: 1.5em;
}

.page-title {
    color: #9ca3a6 !important;
    margin: 0;
    font-size: 22px;
}

.modal-dialog.modal-dialog-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu-dark {
    background-color: rgb(43, 48, 53);
    border-radius: 8px;
    padding: 10px;
    margin: 2px;
    margin-top: 12px;
}

.dropdown-menu-dark .dropdown-item {
    color: #b8b8b8;
    font-size: 18px;
    font-weight: 500;
    align-self: center;
}

.dropdown-menu-dark .dropdown-item:hover,
.dropdown-menu-dark .dropdown-item:focus {
    color: #f5f5f5;
    background-color: rgb(51, 57, 63);
    border-radius: 8px;
}

@media (min-width: 993px) {
    .dropdown-menu-centered {
        left: 50% !important;
        transform: translateX(-50%) !important;
        position: relative;
    }

    .dropdown-menu-centered::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent rgb(43, 48, 53) transparent;
    }
}

.dropdown-item-content {
    display: flex;
    align-items: center;
}

.dropdown-item-image {
    height: 50px;
    margin-right: 10px;
    margin-left: -15px;
}

.dropdown-item-text {
    color: #b8b8b8;
    font-size: 18px;
    font-weight: 500;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.dropdown-item-subtext {
    font-size: 12px;
    color: #999;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.sticky-footer {
    margin-top: auto;
}

.overflow-visible {
    overflow: visible;
    padding: 0;
}

.background {
    position: relative;
    overflow: hidden;
    transform: rotate(-5deg);
}

.fade-top {
    position: relative;
    mask-image: linear-gradient(to top, transparent, black);
    -webkit-mask-image: linear-gradient(to top, transparent, black);
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    pointer-events: none;
}

.img-fluid {
    width: 200%;
    height: auto;
    max-width: none;
}

.text-decoration-none {
    color: black;
}

.text-decoration-none:hover {
    color: black;
}

.sidebar-custom {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-top: 20px;
    height: 880px;
    box-shadow: 0.1px 0.1px 3px rgba(53, 53, 53, 0.3);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}

.fixed-top {
    margin-left: 22px;
}

.documentation-body {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('./images/Documentation_Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.game-body {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('./images/Game_Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.table-documentation {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
}

.text-white-shadow {
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5), 1px -1px 0 rgba(255, 255, 255, 0.5), -1px 1px 0 rgba(255, 255, 255, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.5);
}

.card-header-custom {
    /* background-color: rgba(56, 63, 69, 1);
    
    color: white; */
}

.blue {
    background-color: rgb(211, 239, 255);
}

.aquamarine {
    background-color: rgb(221, 255, 244);
}

.lavender {
    background-color: rgb(251, 236, 255);
}

.rose {
    background-color: rgb(255, 231, 253);
}

.lava {
    background-color: rgb(255, 226, 226);
}

.sunflower {
    background-color: rgb(254, 255, 239);
}

.discord-color {
    background-color: rgba(114, 137, 218, 0.74);
    transition: background-color 0.2s ease;
}

.discord-color:hover {
    background-color: rgba(114, 137, 218);
}

.gmail-color {
    background-color: rgba(255, 78, 78, 0.74);
    transition: background-color 0.2s ease;
}
.gmail-color:hover {
    background-color: rgba(255, 78, 78);
}

.twitter-color {
    background-color: rgba(46, 46, 46, 0.74);
    transition: background-color 0.2s ease;
}
.twitter-color:hover {
    background-color: rgba(46, 46, 46);
}

.card-body-custom {
    /* background-color: #ffffff; */
    padding: 0.5rem;
    padding-bottom: 1.5rem;
    position: relative;
}

.card-custom {
    border: 0px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 10px #969696;
    position: relative;
}

.card img {
    max-width: 100%;
    height: auto;
}

.btn-custom {
    position: absolute;
    /* bottom: -50%; */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.plugin-section {
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: url('./images/Documentation_Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 0px 20px 0px #00000063;

}

.game-section {
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: url('./images/Game_Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 0px 20px 0px #00000063;
}

.section-header {
    font-size: 40px;
    font-weight: 700;
    text-shadow: rgb(0, 0, 0) 1px 0 3px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-custom {
    box-shadow: 0px 0px 20px 0px #00000063;
}

.body-background-generic-blur {
    background-image: url('./images/Generic_Background.png');
    /* background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('./images/Generic_Background.png'); */
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.body-background-generic {
    background-image: url('./images/Generic_Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.slogan {
    margin-top: -35px;
    font-size: 20px;
    font-weight: 400;
    text-shadow: rgb(0, 0, 0) 1px 0 1px;
    flex-direction: column;
    text-align: center;
}

.line {
    height: 7px;
    border-radius: 7.5px;
    background-color: #ff6000;
    margin-bottom: 10px;
}

/* Responsive styles for large screens */
@media (min-width: 576px) {
    .line {
        width: 30%;
    }
}

/* Responsive styles for small screens */
@media (max-width: 576px) {
    .line {
        width: 80%;
    }
}


/* Responsive styles for large screens */
@media (min-width: 576px) {
    .slogan-image {
        width: 20%;
    }
}

/* Responsive styles for small screens */
@media (max-width: 576px) {
    .slogan-image {
        width: 30%;
    }
}

.mobile-button {
    display: none;
    /* Hide the button by default */
}

@media (max-width: 512px) {
    .mobile-button {
        /*Position*/
        display: block;
        position: fixed;
        top: 50%;
        left: 1%;
        z-index: 9999;

        /*Look*/
        border: 3px solid rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        width: 38px;
        height: 38px;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(5px);
        
        color: rgba(255, 255, 255, 0.8);
        font-weight: 1000;
    }

    .mobile-button::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        width: 0;
        height: 0;
        border-width: 7px 0 7px 12px;
        border-style: solid;
        border-color: transparent transparent transparent rgba(255, 255, 255, 0.8);
    }

    .mobile-button.toggled {
        background-color: rgba(255, 255, 255, 0.95);
        border: 3px solid rgba(65, 65, 65, 0.26);
        color: rgba(65, 65, 65, 0.26);
        box-shadow: 0 0 80px rgba(0, 0, 0, 0.7);
    }

    .mobile-button.toggled::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-70%, -50%);
        width: 0;
        height: 0;
        border-width: 7px 12px 7px 0;
        border-style: solid;
        border-color: transparent rgba(65, 65, 65, 0.26) transparent transparent;
    }
}

.show-sidebar {
    position: fixed !important;
    width: 77% !important;
    z-index: 999;
    left: 12%;
    top: 10%;
    overflow: auto;
    height: 85%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.two-column-table {
    width: 60%; /* Make the table fill its container */
    margin-left: 3.5%;
}

.blue-diamond {
    list-style-type: none;
    position: relative;
}

.blue-diamond:before {
    content: "";
    display: inline-block;
    background-color: #62cced;
    width: 0.6em;
    height: 0.6em;
    border: 1px solid black;
    transform: rotate(45deg);
    margin-right: 0.5em;
}

.tab-content {
    padding: 20px;
    border-top: 3px solid rgb(56, 63, 69);
    border-bottom: 1px solid rgb(56, 63, 69);
    position: relative;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tab-link:focus, .tab-link:hover {
    text-decoration: none;
}

.tab-item {
    margin-bottom: 2px;
}

.tab-link {
    background-color: white;
    border: 1px solid rgb(56, 63, 69);
    border-bottom: 0px;
    color: rgb(0, 0, 0);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.tab-link.active {
    background-color: rgb(56, 63, 69);
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.tab-link:hover {
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    
}
.tab-link.active:hover {
    background-color: rgb(56, 63, 69);
    color: rgb(255, 255, 255);
}


.show-sidebar::-webkit-scrollbar {
    width: 0;  /* Hide the scrollbar */
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    cursor: default;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    /* border-radius: 6px; */
}


/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #4f4f4f; */
    background: rgba(56, 63, 69, 0.95);
    /* border-radius: 2px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #444;
}

.dropdown-submenu::after {
    border-top: 0.5em solid #b8b8b8;
    border-right: 0.4em solid transparent;
    border-bottom: 0;
    border-left: 0.4em solid transparent;
    position: absolute;
    right: 0.8em;  /* Adjust the positioning as needed */
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translateY(-50%);
    margin-top: -1px;
}

.dropdown-submenu .dropdown-menu {
    background-color: rgb(31, 35, 39);
    position: absolute;
    top: 50%;
    left: 104%;
    transform: translateY(-50%);
    margin-top: -1px;
}

.submenu-overlay {
    position: absolute;
    top: 50%;
    left: 95%;
    width: 100px;
    height: 100px;
    transform: translateY(-50%);
    margin-top: -1px;
}

.dropdown-submenu .dropdown-menu::before {
    content: "";
    position: absolute;
    top: calc(50% - 4.3px);;
    left: -4px;
    transform: translateX(-50%) rotate(-90deg);
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent rgb(31, 35, 39) transparent;
}

@keyframes gradientAnimation {
    0% {
        background-position: -50% 50%;
    }

    100% {
        background-position: 150% 50%;
    }
}

.gradient-container {
    width: 100%;
    background: linear-gradient(90deg, #b9e2f5, #ffffff, #b9e2f5);
    background-size: 200% 200%;
    animation: gradientAnimation 10s linear infinite;
    border-radius: 10px;
    border: 1px solid;
    border-color: #b9e2f5;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
}

.gradient-container:hover {
    color: rgb(0, 0, 0);
    border-color: #84cdee;
}

.arrow {
    content: "";
    border-top: 0.5em solid #62cced;
    border-right: 0.4em solid transparent;
    border-bottom: 0;
    border-left: 0.4em solid transparent;
    position: absolute;
    right: 1.8em;
    transform: translateY(-360%) rotate(-90deg);
}
